<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Meteor.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,174},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{63,63}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>explosion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,174},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,68}}</string>
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>

			<key>explosion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,0},{96,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,109}}</string>
				<key>sourceSize</key>
				<string>{96,109}</string>
			</dict>

			<key>explosion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{108,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,121}}</string>
				<key>sourceSize</key>
				<string>{108,121}</string>
			</dict>

			<key>explosion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>explosion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,120},{103,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,110}}</string>
				<key>sourceSize</key>
				<string>{103,110}</string>
			</dict>

			<key>explosion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,0},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,97}}</string>
				<key>sourceSize</key>
				<string>{96,97}</string>
			</dict>

			<key>explosion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,98},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>explosion_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,0},{89,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,92}}</string>
				<key>sourceSize</key>
				<string>{89,92}</string>
			</dict>

			<key>explosion_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,93},{69,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,80}}</string>
				<key>sourceSize</key>
				<string>{69,80}</string>
			</dict>

			<key>explosion_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,93},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,53}}</string>
				<key>sourceSize</key>
				<string>{47,53}</string>
			</dict>

			<key>explosion_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,194},{48,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>sourceSize</key>
				<string>{48,52}</string>
			</dict>

			<key>explosion_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,50},{45,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,49}}</string>
				<key>sourceSize</key>
				<string>{45,49}</string>
			</dict>

			<key>explosion_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,0},{45,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,49}}</string>
				<key>sourceSize</key>
				<string>{45,49}</string>
			</dict>

			<key>explosion_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,194},{45,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,49}}</string>
				<key>sourceSize</key>
				<string>{45,49}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>Explosion.png</string>
			</dict>
		</dict>
</plist>